* {
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 375px;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70%;
}

.logo {
  margin-right: 60%;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
  margin-left: 5px;
}

.toolbar-container a {
  text-decoration: none;
  font-size: 35px;
  display: block;
  color: #28352f;
}

.toolbar-container a:hover {
  color: #e71010;
}

.headline {
  display: flex;
  flex-direction: column;
  width: 375px;
}

.primary-headline {
  background-image: url(image/header-illsutration-mobile@2x.JPEG);
  background-size: cover;
  left: -126.38px;
  top: 98.12px;
  height: 100%;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  align-self: start;
  line-height: 52px;
  margin-right: 20px;
  margin-top: 85px;
  margin-bottom: 20px;
  margin-left: 20px;
  font-style: normal;
  color: #172b4d;
  font-weight: 700px;
  text-align: center;
}

.h1color {
  color: rgb(59, 200, 122);
}

.supporting-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #172b4d;
  text-align: center;
  margin-bottom: 90.15px;
  margin-top: 8.43px;
  margin-right: 20px;
  margin-left: 20px;
}

.menu-bar {
  display: none;
}

.socialt {
  display: flex;
  margin-left: 130px;
  list-style: none;
  align-items: center;
}
